<!DOCTYPE html>
<html>
<head>
	<title>Pragprog Books Online Store</title>
	<%= stylesheet_link_tag "scaffold" %>
	<%= stylesheet_link_tag "depot", :media => "all" %>
	<%= javascript_include_tag :defaults %>
	<%= csrf_meta_tag %>
</head>

<body id="store" >
	<div id="banner" >
		<%= image_tag("logo.png") %>
		<%= @page_title || "Pragmatic Bookshelf" %>
	</div>
	<div id="columns" >
		<div id="side" >
			<%= link_to 'Home', store_index_path %><br /><br />
			<% if logged_in? %>
				<%= link_to 'Orders', orders_path %><br />
				<%= link_to 'Products', products_path %><br />
				<%= link_to 'Users', users_path %><br /><br />
				<%= button_to 'Logout', logout_path, :method => :delete %><br />
			<% else %>
				<%= link_to 'Admin panel', login_path %><br /><br />
			<% end %>
			<div id="cart" >
				<%= render @cart if @cart%>
			</div>
			<div id ="time">
				<%= Time.now.strftime("%I:%M%p") %><br/>
				<%= pluralize(@viewed.to_s, " view") if @viewed and @viewed> 5 %><br />
			</div>
		</div>
		<div id="main" >
			<%= yield %>
		</div>
	</div>
</body>
</html>

	
</div>
